<div class="center jumbotron top-content">
  <h1>ソフトウェアのように知識をインストールする</h1>
  <br/>
  <h2>復習タイミングを自動調整することにより効率的に記憶できます</h2>
  <br/>
  <div class="guest-login-btn">
    <%= button_to "とりあえず使う", guest_login_path, class: "btn btn-lg btn-success rounded-pill" %>
  </div>
  <%= link_to "無料で会員登録", signup_path, class: "btn btn-lg btn-primary rounded-pill" %>
</div>
<div class="overview">
  <h2 class="nayami-sample">
    「元素記号が覚えられない」<br/><br/>
    「麻雀を始めたけど役を覚えられない」<br/><br/>
    「どうすれば暗記できるのか分からない」
  </h2>
  <h2>
    こんな悩みを解決するのが暗記くんです。
  </h2>
  <h2>
    暗記くんは、間隔反復法に基づいたアルゴリズムにより、復習のタイミングを自動調整します。
  </h2>
  <%= image_tag('https://s3-ap-northeast-1.amazonaws.com/ankikun-images/curve.png', class: "top-image img-fluid") %>
  <h2>
    暗記したい内容を登録して、<br/>
    暗記くんが通知してくれたタイミングで復習するだけで、簡単に暗記できます。
  </h2>
</div>
<div class="center jumbotron top-content">
  <h1>無料で利用できます</h1>
  <br/>
  <div class="guest-login-btn">
    <%= button_to "とりあえず使う", guest_login_path, class: "btn btn-lg btn-success rounded-pill" %>
  </div>
  <%= link_to "無料で会員登録", signup_path, class: "btn btn-lg btn-primary rounded-pill" %>
</div>