<div class="row" id ="item-<%= item.id %>">
  <div class="col-10 mx-auto item">
    <% if item.deck.present? %>
      <div class="deck-title">
        <%= link_to item.deck.title, deck_path(item.deck.id), target: "_blank" %>
      </div>
    <% end %>
    <span class="front-text">
      <%= item.front_text %>
    </span>
    <% if item.front_picture? %>
      <div class="front-picture">
        <%= image_tag item.front_picture.url, class: "img-fluid" %>
      </div>
    <% end %>
    <i class="fas angle collapsed" data-toggle="collapse" data-target="#collapse-item-<%= item.id %>"></i>
    <div class="collapse" id="collapse-item-<%= item.id %>">
      <span class="back-text">
        <%= item.back_text %>
      </span>
      <% if item.back_picture? %>
        <div class="back-picture">
          <%= image_tag item.back_picture.url, class: "img-fluid" %>
        </div>
      <% end %>
      <% if @mode == :review %>
        <div class="review-btn" onclick="$('#item-<%= item.id %>').fadeOut('fast');">
          <%= button_to "普通", items_review_path(quality: :good, item_id: item.id),
                        remote: true, class: "btn btn-primary good" %>
          <%= button_to "簡単", items_review_path(quality: :easy, item_id: item.id),
                        remote: true, class: "btn btn-success easy" %>
          <%= button_to "もう一度", items_review_path(quality: :again, item_id: item.id),
                        remote: true, class: "btn btn-danger again" %>
        </div>
       <% end %>
    </div>
    <% if current_user?(item.user) %>
      <%= link_to "編集", edit_item_path(item), class: "far fa-edit edit-menu" %>
      <span class="timestamp">
        次回復習日：<%= item.next_review_timing_str %>
      </span>
    <% end %>
  </div>
</div>
