<div class="row">
  <div class="col-12 mx-auto item" id ="item-<%= item.id %>">
    <span class="front-text"><%= item.front_text %></span>
    <i class="fas fa-angle-down angle" data-toggle="collapse" data-target="#collapse-item-<%= item.id %>"></i>
    <div class="collapse" id="collapse-item-<%= item.id %>">
      <span class="back-text">
        <%= item.back_text %>
      </span>
    </div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(item.created_at) %> ago.
    </span>
  </div>
</div>
