<% provide(:title, '項目編集') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@item) do |f| %>
        <%= f.label :front_text, "表（例：単語）", class: "input-label" %>
        <%= f.text_area :front_text, class: 'form-control', rows: 3 %>
        <%= f.file_field :front_picture, accept: 'image/jpeg,image/gif,image/png' %>

        <%= f.label :back_text, "裏（例：意味）", class: "input-label" %>
        <%= f.text_area :back_text, class: 'form-control', rows: 3 %>
        <%= f.file_field :back_picture, accept: 'image/jpeg,image/gif,image/png' %>

        <%= f.label :deck, "デッキ", class: "input-label" %>
        <%= f.select :deck_id, options_for_select(decks_options_for_select_tag, selected: @item.deck_id),
            {include_blank: true}, {class: "form-control"} %>


        <%= f.submit "更新する", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "削除する", item_path(@item), method: :delete, class: "item-delete-link" %>
    </div>
  </div>
</div>

