<% provide(:title, '項目登録') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item) do |f| %>
      <%= f.label :front_text, "表" %>
      <%= f.text_area :front_text, class: 'form-control', rows: 5 %>

      <%= f.label :back_text, "裏" %>
      <%= f.text_area :back_text, class: 'form-control', rows: 5 %>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>