<div class="row" id ="deck-<%= deck.id %>">
  <div class="col-10 mx-auto deck">
    <div class="title">
      <%= link_to deck.title, deck_path(deck.id) %>
    </div>
    <div class="description">
      <%= deck.description %>
    </div>
    <span class="atr"><%= deck.user.name %>さんのデッキです</span>
    <div class="atr">最終更新日：<%= deck.updated_at_str %></div>
  </div>
</div>
