<% provide(:title, "#{@deck.title}（#{@deck.user.name}さんのデッキ）") %>
<% provide(:description, "#{@deck.description}") %>
<div class="container">
  <div class="deck-header">
    <div class="deck-title">
      <%= @deck.title %>
      <% if !current_user?(@deck.user) %>
        <%= button_to "学習する", copy_path(id: @deck.id), class: "btn btn-success btn-sm copy-btn" %>
      <% end %>
    </div>
    <div class="deck-description">
      <%= @deck.description %>
    </div>
    <span class="deck-atr"><%= @deck.public_str %>,</span>
    <span class="deck-atr"><%= @deck.user.name %></span>
    <div class="deck-atr">
      <%= @deck.items.count %> 個のカードがあります
      <% if current_user?(@deck.user) %>
        <%= link_to "編集", edit_deck_path(@deck), class: "far fa-edit edit-deck" %>
      <% end %>
    </div>
    <hr>
  </div>
  <% if @deck.user == current_user %>
    <%= link_to "", new_item_path(current_user, deck_id: @deck.id), class: "fas fa-plus-circle new-item-button text-dark" %>
  <% end %>
  <%= render 'shared/item' %>
</div>

