<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "mnemosyne", root_path, id: "logo", class: "navbar-brand" %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "暗記項目登録", new_item_path(current_user) %></li>
            <li><%= link_to "暗記項目一覧", items_path(current_user) %></li>
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "設定", edit_user_path(current_user) %></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>