<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <%= link_to "mnemosyne", root_path, id: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "暗記項目登録", new_item_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "暗記項目一覧", items_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "設定", edit_user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>