<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-4">
    <%= link_to "暗記くん", root_path, id: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "暗記アイテム登録", new_item_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "暗記アイテム一覧", items_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "デッキ登録", new_deck_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "あなたのデッキ", decks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "みんなのデッキ", public_decks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "設定", edit_user_path(current_user), class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "みんなのデッキ", public_decks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>